/* Start Main Rulez */
*{
	box-sizing: border-box;
}
body{
	font-family: Arial;
}


/* End Main Rulez */


.header .slidbar{
	width: 100%;
	height: 600px;
	margin: auto;
	background-image: url(istanbul.jpg);
	background-size:100% 600px; 

}

.header .kalam{text-align: center; color: #FFF;  padding-top:150px;}
.header .kalam h1{margin:0 auto;
                  width: 450px;
                  padding:3px 0 3px 0; 
                  border-top: 1px solid #FFF;
                  border-bottom: 1px solid #FFF;
              }

.header .kalam button{width:180px;
                       height: 50px
                        border:none;
                        outline: 0;
                        cursor: pointer;
                        padding: 10px;
                        margin-top: 30px;
                        background:none;
                        paint-order: 1px solid #FFF;
                        color: #FFF;
                        border-radius: 5px;
                                                }              

.header .navbar{ background-color: #403737;color:#FFF; position: relative; top:-16px;}
.header .navbar .container{width:1200px;margin:auto;}
.header .navbar h2{width:40%;float: left; position: relative; bottom: 5px;}
.header .navbar h2 span{color:green;}
.header .navbar ul{	list-style-type: none;	padding: 0;	overflow: hidden;}
.header .navbar ul li{float:left; padding: 20px;}
.header .navbar ul li a{text-decoration: none; color: #FFF;}
.header .navbar ul li a:hover{color:green;}



.features{overflow: hidden;}
.features .container {width:1200px;margin:auto; height: 300px;}
.features .container div{ float:left; width:33.3333%;  }
.features .container div h2,p{margin-left: 10px;}
.features .container div p{line-height: 1.8; padding-right: 10px; color: #564d4d;}


.about_me {overflow: hidden; background: #EEE;}
.about_me .container{width:1200px;margin:auto}
.image img{width:370px; margin-top: 25px;}
.about_me .image{width:33%; float:left;}
.about_me .mylife{float:left; width:67%;}
.about_me .mylife h2{margin-left: 10px}
.about_me .mylife p{line-height: 1.6; color: #564d4d;}


.about_me .afshknat{float:left; width:50%; height: 250px;}
.about_me .afshknat img{float: left; width:15%; margin-top: 20px; border-radius:50% }
.about_me .afshknat .lol{width:75%;float:left;}
.about_me .afshknat h3{padding-left: 10px;}
.about_me .afshknat p{line-height: 1.6; color: #564d4d;}
.about_me .afshknat button{
	margin-left: 10px;
	border:0;
    outline: 0;
    height: 30px;
    width:70px;
    cursor: pointer;
    padding: 5px;
    border:1px solid green;
    color:green;
    background: green;
    color: #FFF;
    border-radius: 5px;
}


.elskils{overflow: hidden; margin-top: 20px; height: 420px}

.elskils .container{width:1200px; margin: auto}

.elskils .container div{width:50%; float:left;}

.elskils .container p{line-height: 1.7; margin-right:70px; margin-left: 0; color: #564d4d; }

.elskils .container button{
	border:0;
    outline: 0;
    height: 40px;
    width:120px;
    cursor: pointer;
    padding: 5px;
    border:1px solid green;
    color:green;
    background: #FFF;
    border-radius: 5px;
    margin-bottom: 20px;
}


.elskils .progres {margin-top: 50px;}

.elskils .progres .loon{width:600px; background: #EEE; color:#FFF; height: 25px; outline: 0;border:none; margin-bottom: 15px}

.elskils .progres .loon .d1{width:60%; background: green; height: 25px;}
.elskils .progres .loon .d2{width:45%; background: green; height: 25px;}
.elskils .progres .loon .d3{width:100%; background: none; height: 25px;}
.elskils .progres .loon .d4{width:55%; background: green; height: 25px;}

.elskils .progres .loon div .sp1{margin-left: 90%; position: relative; top:5px; }
.elskils .progres .loon div .sp2{margin-left: 85%; position: relative; top:5px; }
.elskils .progres .loon div .sp3{margin-left: 55%; position: relative; top:5px; color:#333;}
.elskils .progres .loon div .sp4{margin-left: 89%; position: relative; top:5px; }






.resume{overflow: hidden; background: #EEE; margin-top: 30px; height: 300px}

.resume .container{width:900px; margin:auto; text-align: center}

.resume .container p{
	line-height: 1.7;
	color: #564d4d;
}

.resume .container button{
	border:0;
    outline: 0;
    height: 40px;
    width:200px;
    cursor: pointer;
    padding: 5px;
    border:2px solid green;
    color:green;
    background: #FFF;
    border-radius: 5px;
    margin-top: 10px; 

}



.hop{margin:auto;text-align: center; width: 30px; height:30px; background: #EEE; border-radius: 0 0 80% 80%;

      position: relative;
      top: -10px;
   }

.education{overflow: hidden;margin-top: 30px;}

.education .container{
	width:1200px;
	margin:auto;
}

.education .container div{width:50%; float:left}
.education .edleft .edp{margin-right: 50px; margin-left: 0; line-height:1.6; margin-top: 20px;color: #564d4d;}
.education .edright p{margin-left: 0; line-height: 1.6; color: #564d4d;}
.education .edright button{

	border:0;
    outline: 0;
    height: 30px;
    width:70px;
    cursor: pointer;
    padding: 5px;
    border:1px solid green;
    color:green;
    background: green;
    color: #FFF;
    border-radius: 5px;
}

.likeresume{overflow: hidden; background: #EEE; margin-top: 30px; height: 300px}

.likeresume .container{width:900px; margin:auto; text-align: center}

.likeresume .container p{
	line-height: 1.7;
	margin-top: 30px;
	color: #564d4d;
}

.likeresume .container .allcir .cir{
	width: 15px;
	height: 15px;
	border:1px solid #948989;
	border-radius: 50%;
	margin:4px;
	float:left;

	
}

.likeresume .allcir{
width: 70px;
margin: auto;


}





.Portofolio{overflow: hidden;  margin-top: 30px; }

.Portofolio .container{width:1000px; margin:auto; text-align: center}

.Portofolio .container p{
	line-height: 1.7;
	margin-bottom: 50px;
	color: #564d4d;
}



.Portofolio .allimage div img{

width:300px;
height: 300px

}


.Portofolio .allimage .bot{
	margin-bottom: 40px;
}

.Portofolio .allimage div{
	float: left;
	overflow: hidden;
}


.Portofolio .allimage .ph1,.ph2{

margin-right: 50px

}

.last{overflow: hidden; background: #333; height: 630px;margin-top: 30px;}
.last .container { width:1000px; margin:auto; margin-top: 30px;}
.last .container div{
	width:50%;
	float: left;
}


.last .foleft h2{color: #FFF;}

.last .foleft p{
color: #c3bebe;
margin-left: 0;
line-height: 1.7;
margin-right: 40px;

}



.last .foleft .plr{
	color:#FFF;
	width: 120px;
}

.last .foleft .plr span{
	margin-left: 20px;
	color: #c3bebe;
}



.last .foright{
padding-left: 100px;
padding-top: 25px;
}

.last .foright form label{
	color:#FFF;
	margin-bottom: 10px;
	display: block;

}

.last form input{
	width:100%;
	margin-bottom: 20px;
	padding: 8px;
	outline: 0;
	background:  #c3bebe;
	border:none; 
		border-radius: 5px;

}

.last form textarea{
	width:100%;
    background:  #c3bebe;
	border:none;  
	outline: 0;
	height: 250px;
	display:block;
	border-radius: 5px;
	resize: none;

}

.last form .subm{
	width: 120px;
	margin-top: 20px;
	float:left;
	background:#c3bebe;
	border-radius: 5px;
	cursor: pointer;
	outline:0 
}


footer{
	padding-top:50px;
	height: 120px;
	text-align: center;
	background: black;
	color: #c3bebe;
}