body {
    background: #53a538;
}




.container{
	margin-top: 80px;
}



.log_sig{
	background: #FFF;
	padding: 50px;
}



.h1{
	font-size: 45px;
	color: #53a538;
	margin-bottom: 30px;
	margin-left: 50px;
}



form{
	max-width: 400px;
	margin:auto;

}

form input[type='email'],form input[type='password'],form input[type='text']{
	padding: 22px;
	margin-bottom: 30px;
	background:#EEE;
	color: #53a538;
}




form input[type='submit']{
	width: 150px;
	padding: 9px 13px;
	width: 100%;
	font-size: 19px;
	margin-bottom: 30px;

}


form .form-check input{
	width: 20px;
	height: 21px;
    cursor:pointer;

}

form .form-check label{
	font-size: 20px;
	font-weight: normal;
	color: #4b8439;
	position: absolute;
    margin-left: 10px;
    cursor:pointer;

} 

a{
	color:#756973;
	cursor:pointer;
}


@media(min-width: 992px){

.login{

border-right: 1px solid #EEE;

}


}

@media(min-width: 576px){



.h1{

	margin-left:0;
	text-align: center;
}


}



